<!DOCTYPE html>
<html mlns="http://www.thymelief.org">
<aside th:fragment="asideFragment">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary" style="width:250px; position:fixed;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li clas="nav-item">
                <a class="nav-link text-white"aria-current="page" href="/user/auth/info/myInfo"><h6>내 정보</h6></a>
            </li>
            <li clas="nav-item">
                <a class="nav-link text-white"aria-current="page" href="/user/auth/info/postList"><h6>작성한 글</h6></a>
            </li>
            <li clas="nav-item">
                <a class="nav-link text-white" aria-current="page" href="/user/auth/info/commentList"><h6>댓글 남긴 글</h6></a>
            </li>
            <li clas="nav-item">
                <a class="nav-link text-white" aria-current="page" href="/user/auth/info/user/delete"><h6>회원탈퇴</h6></a>
            </li>
        </ul>
    </div>

</aside>
