<html xmlns="http://www.thymelief.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/laout">
<head th:replace="fragments/admin/head :: headFragment">

<body>
<div style="list-style:none;">
    <header th:replace="fragments/admin/header :: headerFragment"></header>
    <div>
        <div class="admin-sidebar">
            <div></div>
            <div>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>

        </div>
    </div>




        <footer th:replace="fragments/admin/footer :: footerFragment"></footer>
        <script th:src="@{/js/addBoard.js}"></script>
    </div>
</body>
</html>