<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="fragments/admin/head :: headFragment">
<body>
<header th:replace="fragments/admin/header :: headerFragment"></header>
<aside th:replace="fragments/admin/aside :: asideFragment"></aside>
<div class="chart">
    <canvas id="myChart"></canvas>

</div>

<footer th:replace="fragments/admin/footer :: footerFragment"></footer>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/analysis/lineChart.js}"></script>
<script th:inline="javascript">
    let data = [[${countByDate}]];
    let label = [[${label}]];
    let xData = new Array();
    let yData = new Array();
    for(let i = 0; i<data.length; i++){
        xData.push(data[i].date);
        yData.push(data[i].count);
    }


    let myChartOne = document.getElementById("myChart");
    let barChart = new Chart(myChartOne,{
        type : 'line',
        data : {
         labels : xData,
         datasets : [{
            label : label,
             data : yData

         }]
        }
    });
</script>



</body>
</html>