<!DOCTYPE html>
<html mlns="http://www.thymelief.org">
<header th:fragment="headerFragment">
  <div style="margin-top:30px; margin-bottom:30px;">
    <div class="container" style="width: 1000px; margin:auto; text-align:center;">
      <div class="row">
        <div class="col vertical-align"><a href="/main">home</a></div>
        <div class="col-6 vertical-align">
          <input type="search" class="form-control" style="display:inline; width:300px; pdding:0;">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        <div sec:authorize="isAnonymous()" class="col vertical-alin" ><a href="/auth/login/loginForm">lo</a></div>
        <div sec:authorize="isAuthenticated()" class="col vertical-alin" >
          <a href="/logout">logout</a>
          <a href="myinfo">내정보</a>
        </div>
      </div>
    </div>
  </div>
  <!--navbar-->

  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid header-menu">

          <a class="dropdown-item" href="/admin/category/add">카테고리추가</a>
           <a class="dropdown-item" href="/admin/board/add">게시판추가</a>
           <a class="dropdown-item" href="/admin/user/manage">유저관리</a>
           <a class="dropdown-item" href="/admin/analysis">방문자통계</a>

      </div>
    </nav>
  </div>

</header>


