<!DOCTYPE html>
<html xmlns="http://www.thymelief.org">
<head th:replace="fragments/main/head :: headFragment"></th:replace>
<body>
<div class="home"><h2><a href="/main">HOME</a></h2></div>
<form action="/user/auth/info/user/delete" method="post" th:object="${userDeleteRequest}">
    <div class="border"style="width:600px; margin:auto; padding:70px;">
        <div style="width:400px; margin:auto;">
            <div style="text-align:center">
                <input type="text" required th:field="*{userPass}">
                <div th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}"></div>
                <input type="submit" required class="btn btn-primary">
            </div>
        </div>
    </div>
</form>



<footer th:replace="fragments/main/footer :: footerFragment"></th:replace>

</body>
</html>