<!DOCTYPE html>
<html xmlns="http://www.thymelief.org">
<head th:replace="fragments/main/head :: headFragment">
<body>
<div>
 <div class="home">
  <h2>HOME</h2>
 </div>


 <div style="width: 460px; height:860px; margin:auto;">

 <div class="join-row">
    <div>아이디</div>
    <input type="text"  maxlength="20" class="form-control" id="username" aria-describedby="basic-addon3">
  <div id="idValidation" class="join-validation"></div>
 </div>

  <div class="join-row">
   <div>닉네임</div>
   <input type="text" maxlength="20" class="form-control" id="name" aria-describedby="basic-addon3">
   <div id="nameValidation" class="join-validation"></div>
  </div>

  <div class="join-row">
   <div>비밀번호</div>
   <input type="password" maxlength="50" class="form-control" id="password" aria-describedby="basic-addon3">
   <div id="passwordValidation" class="join-validation"></div>
  </div>

  <div class="join-row">
   <div>비밀번호확인</div>
   <input type="password"  maxlength="50" class="form-control" id="passwordCheck" aria-describedby="basic-addon3">
   <div id="passwordConfirmValidation" class="join-validation"></div>
  </div>

  <div class="join-row">
   <div>이메일확인</div>
   <input maxlength="100" type="text" class="form-control" id="email">
   <input class="btn btn-primary" type="button" value="전송" id="emailSubmit" onclick="emailCheck();">
   <div id="emailValidation" class="join-validation"></div>
       <input maxlength="20" type="text" id="codeCheck" style="display:none">
       <input type="button" id="submit" style="display:none" onclick="codeSubmit();">
  </div>
  <div style="text-align:center; margin:top:20px;"><input class="btn btn-primary" id="submit" type="submit" value="가입" onclick="joinRequest();"></div>
 </div>


 <script th:src="@{\js\join.js}"></script>
 <footer th:replace="fragments/main/footer :: footerFragment">


<!--  <script th:src="@{\js\join.js}"></script>-->
</body>
</html>