.home{
    width:80vw;
    margin:auto;
    text-align:center;
    padding-top:100px;
    padding-bottom:50px;
}
.join-wrap{
    width:600px;
    padding:80px;
    border:1px solid;
    border-color:#ddd;
    margin:0 auto;
}
@media(max-width:980px){
    .join-wrap{
        width:80vw;
        padding:10vw;
    }
}

.join-row{
    width:100%;
    margin-bottom:20px;

.join-Validation{
    color:red;
}






