<!DOCTYPE html>
<html xmlns="http://www.thymelief.org">
<head th:replace="fragments/main/head :: headFragment"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/loginPage.css}">
<head>

</head>
<body>
<div class="content">
    <div class="home"><h2><a href="/main">HOME</a></h2></div>
    <form action="/login" method="post">
    <div class="login-wrap" >
       <div class="login-area">
            <div style="text-align:center">
                <input class="form-control"  maxlength="20" id="id" type="text" placeholder="ID" name="username">
                <br>
                <input class="form-control"  maxlength="50" id="password" type="password" placeholder="password" name="password">
                <input class="btn btn-primary login-btn" type="submit" >
            </div>
           <a href="/user/join/joinForm">회원가입</a>
           <a href="/user/find/idForm" style="margin-left:20px">아이디찾기</a>
           <a href="/user/find/passForm" style="margin-left:20px">비밀번호 찾기</a>
       </div>
    </div>
    </form>


     <footer th:replace="fragments/main/footer :: footerFragment"></th:replace>
</div>
</body>
</html>