<!DOCTYPE html>
<html>
<head th:replace="fragments/main/head :: headFragment"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
</head>

    <body>
      <div id="wrap">
        <header id="header" th:replace="fragments/main/header :: headerFragment"></header>
          <section id="section">
             <div>
                 <div id="simple-list-wrap">

                     <ul id="simple-list">
                         <div class="simple-list-label">최신글</div>
                        <li th:each="post : ${allPost}"id="simple-list-item">
                            <div>
                                <a th:href="@{/board/list/}+${post.board.id}" class="simple-boardname" th:utext="'['+${post.board.name}+']'"></a>
                                <a class="simple-title" th:href="@{/board/view/}+${post.id}" th:utext="${post.title}+'['+${post.comments.size}+']'"></a>
                                <div id="simple-info">
                                    <span class="simple-date" th:utext="${post.createdDate}"></span>
                                </div>
                            </div>
                        </li>
                     </ul>
                 </div>
                 <div>
<!--                     <ul class="pagination justify-content-center">
                         <li class="page-item"><a class="page-link" th:href="@{/main(page=${allPost.number-1})}">Previous</a></li>
                         <li class="page-item"><a class="page-link" th:href="@{/main(page=${allPost.number+1})}">Next</a></li>
                    </ul>-->
                 </div>
             </div>
          </section>
          <footer th:replace="fragments/main/footer :: footerFragment"></footer>
       </div> 
    </body>
 </html>   