<!DOCTYPE html>
<html mlns="http://www.thymelief.org">
<header th:fragment="viewPageHeaderFragment">
    <div style="margin-top:30px; margin-bottom:30px;">
        <div class="container-fluid main-header">
            <div class="row main-header-box">
                <div class="col vertical-align"><a href="/main"><img src="/img/home.jpg"></img></a></div>
                <div class="col-6 vertical-align">
                </div>
                <div sec:authorize="isAnonymous()" class="col vertical-alin" ><a href="/login/loginForm" class="btn btn-primary">Login</a></div>
                <div sec:authorize="isAuthenticated()" class="col vertical-alin" >
                    <a href="/logout">logout</a>
                    <a href="/user/auth/info/myInfo">내정보</a>
                </div>
            </div>
        </div>
    </div>
    <!--navbar-->

    <div id="nav-header-wrap" class="bg-light" style="height:50px">
            <div class="container-fluid row" id="nav-header">
                <div class="col dropdown" th:each="category : ${categories}">
                    <a  id="navbarDropdown" th:utext="${category.name}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu">
                        <li th:each="board : ${category.boardList}">
                            <a id="boardId" th:href="@{/board/list/}+${board.id}" class="dropdown-item" th:utext="${board.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>

</header>


